.about {
  padding-top: 40px;
  .row {
    padding: 60px 0;
  }
}

#otitle {
  padding-bottom: 0px;
}
#officers {
  padding-top: 20px;
  padding-bottom: 60px;
}

.team-members {
}

.team-member {
  img {
    border-radius: 15%;
    width: 225px;
    height: 225px;
  }

  h4 {
    font-weight: bold;
  }

  text-align: left;
  margin-bottom: 20px;
}
