@import 'style.less';
.about {
  padding: 60px 0px 0px 0px;
  text-align: center;

  .row {
    padding: 0px 20px 60px 20px;
  }

  .row-title {
    padding-bottom: 0px;
  }

  .row-content {
    padding: 20px 20px 60px 20px;
  }

  .col-sm-6 {
    margin-bottom: 30px;

    p {
    }
  }
  
  .team-member { 
    img {
      margin: 0 auto;
      border-radius: 15%;
      width: 225px;
    }
  
    h2 {
      text-align: left;
      margin: 10px 0 0 0;
      padding: 0;
    }

    p {
      text-align: left;
      font-weight: 200;
    }
  }

  #partner {
    margin-bottom: 30px;
  }
}
