@import "../node_modules/bootstrap-less/bootstrap/bootstrap.less";
@import "variables.less";
@import "bootswatch.less";

.item {
  // TEST
  background-color: #777;
  height: 500px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: @brand-dark;
  color: #fff;
  padding: 20px 0;
}

footer p {
  margin: 0;
}
