@import "variables.less";
@import "about.less";
@import "landing.less";

body > .container {
  padding-top: 70px;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: @brand-dark;
  color: #fff;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

.row-primary {
  background-color: @brand-primary;
}
.row-dark {
  background-color: @brand-dark;
  color: white;
}
.row-success {
  background-color: @brand-success;
}
.row-info {
  background-color: @brand-info;
}
.row-warning {
  background-color: @brand-warning;
}
.row-danger {
  background-color: @brand-danger;
}
