extends layout

append styles
  link(rel='stylesheet', href='/css/about.css')

block content
  .about
    #about.row
      .container
        h1 About Us
        p.
          CAD is a multi-disciplinary organization which seeks to teach and
          promote programming to all students on campus. Our general meetings,
          weekly workshops, and coding events are great ways to get involved
          and learn programming. Please check our calendar for more information
          on our general meetings and other upcoming events.
    .row.row-success.row-title
      .container
        h1 Keep Up To Date
    .row.row-success.row-content
      .container
        .col-lg-4.col-md-6.col-sm-6
          i.fa.fa-calendar.fa-4x(aria-hidden='true')
          h2 Calendar
          p.
            Check out our calendar for the most up to date information about
            our meetings and events.
          a.btn.btn-warning(href='http://cadtx.pw/calendar') Calendar
        .col-lg-4.col-md-6.col-sm-6
          i.fa.fa-facebook.fa-4x(aria-hidden='true')
          h2 Facebook
          p.
            Join our Facebook group to stay connected with CAD.
          a.btn.btn-warning(href='http://cadtx.pw/facebook') Facebook
        .col-lg-4.col-md-6.col-sm-6
          i.fa.fa-pencil.fa-4x(aria-hidden='true')
          h2 Sign Up
          p.
            Join our newsletter for weekly updates about our events.
          a.btn.btn-warning(href='http://cadtx.pw/signup') Sign Up
    .row.row-dark.row-title
      .container
        h1 Officers
    #officer.row.row-dark.row-content
      .container.team-members
        each officer in officers
          .col-lg-3.col-md-4.col-sm-6
            .team-member
              img(src=officer.image)
              h2= officer.name
              p= officer.title
//-    .row.row-title
//-      .container
//-        h1 Partners
//-    #partner.row.row-content
//-      .container
//-        each test in [1, 2, 3, 4]
//-          .col-lg-3.col-md-4.col-sm-6
//-            .team-member
//-              img(src='/images/logos/intel.png')
