extends layout

append styles
  link(rel='stylesheet', href='/css/about.css')

block content
  .about
    #about.row
      .container
        h1 About Us
        p.
          Our mission is to teach and promote programming to all students on
          campus. We hope to provide a collaborative environment for our
          members to tackle various challenges while sharpening their problem
          solving skills. 
    
    .row.row-dark.row-title
      .container
        h1 Officers
    #officer.row.row-dark.row-content
      .container.team-members
        each officer in officers
          .col-lg-3.col-md-4.col-sm-6
            .team-member
              img(src=officer.image)
              h4= officer.name
              p= officer.title
//-    .row.row-title
//-      .container
//-        h1 Partners
//-    #partner.row.row-content
//-      .container
//-        each test in [1, 2, 3, 4]
//-          .col-lg-3.col-md-4.col-sm-6
//-            .team-member
//-              img(src='/images/logos/intel.png')
