extends layout

append styles
  link(rel='stylesheet', href='/css/workshop.css')

block content
  .container.workshop
    .row
      .col-lg-3.col-md-6.col-sm-12
        .block.title-block
          img.cpp-logo(src='../images/logos/cpp.png')
          h2 C++
          h3 Mondays @ 7:00PM
          h3 CPE 2.216
          a(href='https://github.com/cadtexas/fa17-cplusplus')
            i.fa.fa-github.fa-2x(aria-hidden='true')
          a(href='https://github.com/cadtexas/fa17-cplusplus/raw/master/Syllabus.pdf')
            i.fa.fa-file-text.fa-2x(aria-hidden='true')
      .col-lg-9.col-md-6.col-sm-12
        .block.row
          .col-lg-6
            h2 About
            p.
              In this workshop, we will introduce you to the C++ programming
              language, explore advanced programming techniques, work with
              fundamental data structures and algorithms, and apply these tools
              to solving complex problem. While everyone is welcome to attend
              and participate in this workshop, it is recommended that students
              have a knowledge of basic programming concepts (using any
              language). If you've seen basic control structures (loops, if
              statements, etc.), variables, arrays, and program decomposition,
              then you should be ready to take this workshop.
          .col-lg-6
            h2 Taught by
            .row
              .col-sm-6
                img(src='../images/officers/juan-trejo.jpg')
                .caption
                  p Juan
              .col-sm-6
                img(src='../images/officers/miguel-obregon.jpg')
                .caption
                  p Miguel
