extends layout

append styles
  link(rel='stylesheet', href='/css/landing.css')

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        img(src='/images/logo.png')
        h1 Something went wrong!
        h2 If you see our team show them this 
        .error= error.status 
          span  - 
          span= message

//- Delete the footer since this is the front page
block footer
