extends layout

block content
  .cover-container.d-flex.vh-100.mx-auto.flex-column.bg-primary
    header.mb-auto
      span.a A
      span.cad CAD
      span.emy EMY
    main.mx-auto
      h1 Coders Across Disciplines
      h2 Empowering multi-disciplinary students to successfully navigate diverse, future-looking workplaces.
    footer.mx-auto.mt-auto
      h3 Connect With Us
      .row
        .col
          i(class="fas fa-3x fa-envelope" aria-hidden="true")
        .col
          i(class="fab fa-3x fa-facebook-f" aria-hidden="true")
        .col
          i(class="fab fa-3x fa-github" aria-hidden="true")
        .col
          i(class="fas fa-3x fa-users" aria-hidden="true")
  .container
    .row.p-4.
       Coders Across Disciplines, an organization at The University of Texas
       at Austin, seeks to enable students—of all majors and backgrounds—to
       develop coding literacy skills. Our general meetings, workshops, and
       corporate exposure events encourage students to learn programming and
       connect with exciting opporunities.
    .row
      .col-11.mx-auto
        .bulletin.card.text-white.bg-primary.mb-3
          .card-body
            h4.card-title Bulletin
            p.card-text.
              To get the latest news about future workshops, general
              meetings, and major events sign up for our newsletter.
    h1 Spring 2019 Workshops
    .workshops.row
      .col-md-6.px-0
        .card.text-white.bg-primary.mb-3
          .card-body
            h4.card-title Basic Concepts
            p.card-text.
              Learn basic computer science concepts and multiple coding
              languages through our new, interactive workshop. Through this
              course, you will learn both Python and Java.
      .col-md-6.px-0
        .card.text-white.bg-secondary.mb-3
          .card-body
            h4.card-title Bulletin
            p.card-text.
              To get the latest news about future workshops, general
              meetings, and major events sign up for our newsletter.
    h1 Meet Our Officers
    .officers.row
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
    .officers.row
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
    .sponsors.row
      .col-lg-7.px-0
        .card.text-white.bg-primary.mb-3
          .card-body
            h4.card-title Sponsor Spotlight
            p.card-text.
              Our generous sponsors allow us to equip 200+ diverse, underserved
              UT students every year with skills that will prepare them for both
              current and future job markets. These donations allow us to lower
              membership dues, invite insightful guest speakers, and provide
              enriching activities.
      .col-lg-5.px-0
        .card.text-white.bg-secondary.mb-3
          .card-body
            h5.card-title — current and past sponsors —
            p.card-text
    h1 Meet Our Instructors
    .officers.row
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
    .officers.row
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")
      .col-lg-3.col-md-6
        img(src="https://via.placeholder.com/150")

block footer
