extends layout

append var
  - var current = "Home"

block content
  .container
    #banner.page-header
      .row
        .col-xl-7.col-lg-8.col-md-7.col-sm-6.align-self-center
          h1.text-primary Coders Across Disciplines
          p.lead.
            We have a general meeting with an officer panel today at
            #[strong 6PM] in #[strong CPE 2.218]. There will be free
            #[strong Halal Bros]
        .col
          img.img-fluid(src="images/logos/logo.png")


block footer
