extends layout

block body
  .splash
    .logo
      .a A
      .cad CAD
      .emy EMY
    .welcome
      .title Coders Across Disciplines
      .subtitle
        | Empowering multi-disciplinary students
        | to successfully navigate diverse, future-looking workplaces.
      .connect Connect With Us
      .line
  .content
    .mission
      | Coders Across Disciplines, an organization at The University of Texas
      | at Austin, seeks to enable students—of all majors and backgrounds—to
      | develop coding literacy skills. Our general meetings, workshops, and
      | corporate exposure events encourage students to learn programming and
      | connect with exciting opporunities.
      
