extends layout

append styles
  link(rel='stylesheet', href='/css/workshop.css')

block content
  .container.workshop
    .row
      .col-lg-3.col-md-6.col-sm-12
        .block.title-block
          img(src='../images/logos/python.svg')
          h2 Intro to Python
          h3 Wednesdays @ 7:00PM
          h3 CPE 2.216
          a(href='https://github.com/cadtexas/fa17-intro-to-python')
            i.fa.fa-github.fa-2x(aria-hidden='true')
          a(href='https://github.com/cadtexas/fa17-intro-to-python/raw/master/Syllabus.pdf')
            i.fa.fa-file-text.fa-2x(aria-hidden='true')
      .col-lg-9.col-md-6.col-sm-12
        .block.row
          .col-lg-6
            h2 About
            p.
              This couse has been designed to serve as a student's first
              introduction to programming. We will be using the popular
              programming language that is simple to understand and use. We
              will cover the very basics of computer programming and build up
              tools and techniques until we get to work with recursion,
              a powerful method for creating powerful programs.
          .col-lg-6
            h2 Taught by
            .row
              .col-sm-6
                img(src='../images/officers/eduardo-priego.png')
                .caption
                  p Eduardo
              .col-sm-6
                img(src='../images/officers/anirudh-sivakumar.jpg')
                .caption
                  p Anirudh
            .row
              .col-sm-6
                img(src='../images/officers/dan-tran.png')
                .caption
                  p Dan
              .col-sm-6
                img(src='../images/officers/alex-collins.png')
                .caption
                  p Alex
