extends layout

append styles
  link(rel='stylesheet', href='/css/workshop.css')

block content
  .container.workshop
    .row
      .col-lg-3.col-md-6.col-sm-12
        .block.title-block
          img(src='https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg')
          h2 Intro to Python
          h3 Wednesdays @ 7:00PM
          h4 CPE 2.216
      .col-lg-9.col-md-6.col-sm-12
        .block.row
          .col-lg-6
            h2 About
            p.
              Learn from the basics! We will teach you everything from installing
              Python to 'for' loops. Excellent class for those who have never
              programmed before.
          .col-lg-6
            h2 Taught by
            .row
              .col-sm-6
                img(src='http://via.placeholder.com/150?text=Eduardo')
                .caption
                  p Eduardo
              .col-sm-6
                img(src='http://via.placeholder.com/150?text=Eduardo')
                .caption
                  p Eduardo
            .row
              .col-sm-6
                img(src='http://via.placeholder.com/150?text=Eduardo')
                .caption
                  p Eduardo
              .col-sm-6
                img(src='http://via.placeholder.com/150?text=Eduardo')
                .caption
                  p Eduardo
