extends layout

append styles
  link(rel='stylesheet', href='/css/workshop.css')

block content
  .container.workshop
    h1 Workshops
    h2 These are the workshops we are offering this semester
    .workshop-blocks.row
      .col-lg-4.col-md-6.col-sm-12
        .title-block.block
          img(src='images/logos/python.svg')
          h2 Intro to Python
          h3 Wednesdays @ 7:00PM
          h3 CPE 2.216
          a.btn.btn-warning(href='workshop/intro-to-python') About
      .col-lg-4.col-md-6.col-sm-12
        .title-block.block
          img(src='images/logos/python-advanced.png')
          h2 Advanced Python
          h3 Tuesdays @ 7:00PM
          h3 CPE 2.216
          a.btn.btn-warning(href='workshop/advanced-python') About
      .col-lg-4.col-md-6.col-sm-12
        .title-block.block
          img.cpp-logo(src='images/logos/cpp.png')
          h2 C++
          h3 Mondays @ 7:00PM
          h3 CPE 2.216
          a.btn.btn-warning(href='workshop/cplusplus') About
