extends layout

append styles
  link(rel='stylesheet', href='/css/workshop.css')

block content
  .container.workshop
    .row
      .col-lg-3.col-md-6.col-sm-12
        .block.title-block
          img(src=workshop.image)
          h2= workshop.title
          h3= workshop.time
          h3= workshop.place
      .col-lg-9.col-md-6.col-sm-12
        .block.row
          .col-lg-6
            h2 About
            
          .col-lg-6
            h2 Taught by
            .row
              .col-sm-6
                img(src='http://via.placeholder.com/150?text=Eduardo')
                .caption
                  p Eduardo
                  p(style='color: black') TBD
              .col-sm-6
                img(src='http://via.placeholder.com/150?text=David')
                .caption
                  p David
                  p(style='color: black') TBD
            .row
              .col-sm-6
                img(src='http://via.placeholder.com/150?text=Dan')
                .caption
                  p Dan
                  p(style='color: black') TBD
              .col-sm-6
                img(src='http://via.placeholder.com/150?text=Alex')
                .caption
                  p Alex
                  p(style='color: black') TBD
